@charset "utf-8";

*{
	margin:0;
	pading:0;
	font-family:"Avenir Next";
}
#nav {
	text-align: left;
 
}

#header {
	border: 2px solid black;
	width:250px;
	height:1080px;
	background-color:#FFA07A;
	position: fixed;
}
h3 {
	text-align: left;
	margin: 0 10px;
	padding: 2px 5px;
	color: #ffffff;
	font-size:25px;
}
#nav ul {
	font-size:15px;
	margin: 10px 20px;
	padding: 0 10px;
}
li {
	line-height: 1.5em;
	list-style-type: none;
}
#nav a {
	text-decoration: none;
	color: #333333;
}
#nav a:hover {
	color: #ff6600;
}
