body{
	background-color: #FAEBD7;
}


#bo{
	position: absolute;
	left:87%;
	top:140px;
}
h1{
text-align:center;
}

p{
font-size: 25px;
margin-right:730px;
}
table{
	width:60%;
	font-size: 25px;
	background-color:white;
	margin-left:170px;
}
B1{
	font-size:20px;
}
caption{
	text-align: left;
}