@charset "UTF-8";
input{
	position:fixed;
	left: 88%;
	font-size:25px;
}

h1{
text-align:center;
}
table{
	width:60%;
	text-align:center;
	font-size: 25px;
	margin-left:170px;
}
body{
	background-color:#FAEBD7;
}
caption{
	text-align:left;
}