body{
	background-color:#F0FFFF;
}
table.t1{
	text-align:center;
	margin:0 auto;
	font-size: 34px;
}
table.t2{
	text-align:center;
	margin:0 auto;
	font-size: 34px;
}
p#p1{
	text-align:center;
	font-size: 34px;
}
p#p2{
	text-align:center;
	white-space: normal;
	font-size: 34px;
}
button.b1{
	white-space: normal;
	font-size: 34px;
}
p#p3{
	text-align:center;
}
