@charset "utf-8";

body{
	background-color: #F0FFFF;
}
a#modoru{
text-align:right;
display:block;
}
button#b{
width:100px;
height: 60px;
font-size: 18px;
}
h1{
text-align:center;
}

p{
margin-left:320px;
}
table{
width:550px;
font-size: 25px;
background-color:white;
}

